# Importing Pandas

In [3]:
import pandas as pd

# Importing data

In [7]:
names = ['id','title','year','rating','votes','length','genres']
data = pd.read_csv('imdb_top_10000.txt', sep="\t", names=names, index_col=0)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   year    10000 non-null  int64
 2   rating  10000 non-null  float64
 3   votes   10000 non-null  int64
 4   length  10000 non-null  object
 5   genres  9999 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [19]:
data.to_csv('test.csv' ,header=True, index=True, sep=',')

In [20]:
data.sort_values(by='rating')

,title,year,rating,votes,length,genres
id,,,,,,
tt0270846,Superbabies: Baby Geniuses 2 (2004),2004,1.5,13196,88 mins.,Comedy|Family
tt0059464,Monster a-Go Go (1965),1965,1.5,3255,70 mins.,Sci-Fi|Horror
tt0364986,Ben & Arthur (2002),2002,1.5,4675,85 mins.,Drama|Romance
tt0421051,Daniel the Wizard (2004),2004,1.5,8271,81 mins.,Comedy|Crime|Family|Fantasy|Horror
tt1309000,Dream Well (2009),2009,1.5,2848,00 mins.,Comedy|Romance|Sport
...,...,...,...,...,...,...
tt0071562,The Godfather: Part II (1974),1974,9.0,291169,200 mins.,Crime|Drama
tt0060196,"The Good, the Bad and the Ugly (1966)",1966,9.0,195238,161 mins.,Western
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama

In [28]:
data.sort_values(by='votes', ascending=False)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0468569,The Dark Knight (2008),2008,8.9,555122,152 mins.,Action|Crime|Drama|Thriller
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
...,...,...,...,...,...,...
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0076391,Mimino (1977),1977,8.2,1356,97 mins.,Comedy
tt0878674,Garage (2007),2007,6.9,1356,00 mins.,Drama
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama